services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: frauddb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: neo4j/neo4jpassword
      NEO4J_PLUGINS: '["graph-data-science"]'
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4jdata:/data
      - ./output_csv:/import

  api:
    build:
      context: .
      dockerfile: api/Dockerfile 
    container_name: fraude_api
    depends_on:
      - neo4j
      - postgres
    env_file:
      - .env   # ou apenas .env se estiver na mesma pasta
    environment:
      NEO4J_URI: ${NEO4J_URI}
      NEO4J_USER: ${NEO4J_USER}
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}
      RISK_THRESHOLD: ${RISK_THRESHOLD}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    volumes:
      - ./api:/app      # HOT RELOAD AQUI !!!
    ports:
      - "8000:8000"
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped

volumes:
  pgdata:
  neo4jdata: